body {
  background-color: #ffffff;
  color: #757575;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*цвет заголовков color: #212121;;

цвет основного текста color: #757575;

белый color: #FFFFFF;

акцент background: #2196F3;*/

.logo {
  color: #000000;
}
.logo span {
  color: #2196f3;
}

/*site-nave*/
.site-nav a {
  color: #212121;
}
.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
}

/*contacts*/
.contacts a {
  color: #757575;
}
.contacts a:hover,
.contacts a:focus {
  color: #2196f3;
}

.banner {
  background-color: #2f303a;
}
/*title*/
.title {
  color: #ffffff;
}
